body {
    margin-bottom: 100px;
}

/* START NOTE COMPONENT  */
.note {
    background-color: #ddd;
    border-radius: 20px;
    padding: 15px;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-wrap: break-word;
    white-space:pre-wrap;
}

.note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-body {
    font-size: 1rem;
}

.delete-icon {
    cursor: pointer;
}

.note-title {
    font-weight: bold;
    font-size: 1.3rem;
}
/* END NOTE COMPONENT  */


/* START NOTE-LIST COMPONENT  */
.note-list {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}
/* END NOTE-LIST COMPONENT  */


/* START ADD-NOTE COMPONENT  */
.note.add{
    /* background-color:rgb(245, 198, 243); */
}

.note.add input::placeholder {
    font-size: 1.3rem;
    
}

.note.add input, textarea{
    border: none;
    /* background-color:rgb(245, 198, 243); */
    font-size: 1rem;
    resize: none;

}

.note.add input, textarea:focus {
    outline: none;
}
/* END ADD-NOTE COMPONENT  */


/* START SEARCH COMPONENT  */
.search {
    background-color: #eee;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 30px;
    width: 100%;
    
}

.search-icon {
    margin: 0 10px 0 10px;   
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    border: none;
    width: 100%;
    background-color: #eee;
}

.search input:focus {
    outline: none;
}
/* END SEARCH COMPONENT  */


/* START HEADER COMPONENT  */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-logo {
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: -2px;

}
/* END HEADER COMPONENT  */


/* START DARK MODE  */
.dark-mode {
    background-color: #191919;
    min-height: 100vh;
}
.dark-mode .app-logo {
    color: #fff;
}

.mode-icon {
    font-size: 2rem;
}
/* END DARK MODE  */

